<div class="center jumbotron">
    <h1>Welcome to Mini SNS</h1>

    <h2>
      Connect with friends and share your thoughts.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>